@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-white: white;
    --color-gray-100: #eff1f5;
    --color-gray-200: #e5e9ee;
    --color-gray-300: #dce0e8;
    --color-gray-400: #d2d7e2;
    --color-gray-500: #cdd0d9;
    --color-gray-700: #8d90a2;
    --color-gray-800: #5c5f77;
    --color-gray-900: #4c4f69;

    --color-accent-50: oklch(97.7% 0.014 308.299);
    --color-accent-100: oklch(94.6% 0.033 307.174);
    --color-accent-200: oklch(90.2% 0.063 306.703);
    --color-accent-300: oklch(82.7% 0.119 306.383);
    --color-accent-400: oklch(71.4% 0.203 305.504);
    --color-accent-500: oklch(62.7% 0.265 303.9);
    --color-accent-600: oklch(55.8% 0.288 302.321);
    --color-accent-700: oklch(49.6% 0.265 301.924);
    --color-accent-800: oklch(43.8% 0.218 303.724);
    --color-accent-900: oklch(38.1% 0.176 304.987);
    --color-accent-950: oklch(29.1% 0.149 302.717);
}

html,
body {
    min-height: 100dvh;
}
