{
  "proseWrap": "always",
  "semi": false,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-jsdoc"],
  "overrides": [
    {
      "files": "lambda-in-js.js",
      "options": { "arrowParens": "avoid", "semi": false }
    },
    {
      "files": "five-point-conic.ts",
      "options": {
        "printWidth": 40
      }
    },
    {
      "files": "block-lang/**/*",
      "options": {
        "singleAttributePerLine": true
      }
    }
  ]
}
