{
    "proseWrap": "always",
    "semi": false,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-jsdoc"],
    "experimentalTernaries": true,
    "experimentalOperatorPosition": "start",
    "jsdocCapitalizeDescription": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "lambda-in-js.js",
            "options": { "arrowParens": "avoid", "semi": false }
        },
        { "files": "five-point-conic.ts", "options": { "printWidth": 40 } },
        {
            "files": "block-lang/**/*",
            "options": { "singleAttributePerLine": true }
        },
        { "files": "cv3/**/*", "options": { "printWidth": 80 } },
        { "files": "hott/**/*", "options": { "printWidth": 110 } },
        { "files": "hott2/**/*", "options": { "printWidth": 100 } }
    ]
}
