*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem; */
    font-family:
        "Helvetica Neue",
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    margin: 0;
}

table {
    margin: 0.5rem;
    float: left;
    border: 1px solid black;
    border-collapse: collapse;
    break-inside: avoid;
    max-width: calc(50% - 1rem);
    height: auto;
}

td {
    padding: 0.125rem 0.25rem;
    vertical-align: baseline;
}

tr:nth-child(2) td {
    padding-top: 0.5rem;
}

tr:last-child td {
    padding-bottom: 0.5rem;
}

tr:not(:first-child) td:first-child {
    width: 2rem;
    text-align: right;
}

tr:not(:first-child) td:last-child {
    padding-right: 0.5rem;
}

tr:not(:first-child) td:first-child::after {
    content: ".";
}

td:nth-child(2):has(+ td) {
    width: 200px;
}

tr:first-child td {
    border-bottom: 1px solid black;
    font-weight: bold;
    white-space: pre;
    padding: 0;
}

tr:first-child td :first-child {
    width: 3rem;
    max-width: 3rem;
    text-align: center;
    border-right: 1px solid black;
    margin-right: 0.5rem;
}

tr:first-child td :last-child {
    padding-right: 0.5rem;
}

tr:first-child td span {
    display: inline-block;
    padding: 0.125rem 0;
}
